* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* TOp Bar */

#top {
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

#top > a {
  color: white;
}

/* NavBar */

#nav {
  position: relative;
  display: inline-block;
  display: flex;
  /* justify-content: space-between;
    align-items: center; */
  border: 1px solid black;
  position: sticky;
}
#nav > .logo {
  display: flex;
  width: 850px;
  justify-content: space-around;
  align-items: center;
}
#nav > a > img {
  width: 180px;
}
#nav > .logo > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: black;
}
#nav > .logo > a:hover {
  color: rgb(79, 142, 180);
}
#nav > #search {
  width: 370px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav > #search > #inp {
  width: 230px;
  padding: 10px;
}

#nav > #search > a > img {
  width: 20px;
}

/* .innerCategory {
  display: none;
  position: absolute;
  background-color: white;
  display: flex;
  margin-left: 205px;
  background-color: white;
}
.innerCategory > .c1,
.c2 {
  margin-top: 20px;
  width: 200px;
  padding: 20px;
}
.innerCategory > .c1 > h3,
.c2 > h3 {
  margin-bottom: 15px;
}
.innerCategory > .c1 > p,
.c2 > p {
  margin-bottom: 15px;
} */
/* Landing */

#landing {
  background-image: url(https://media.crocs.com/images/f_auto,q_auto,dpr_auto/marketing/dreamville-hero-full/crocs);
  background-position: center;
  height: 590px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landing > img {
  width: 20%;
  margin-right: 500px;
  margin-top: 50px;
  /* margin: auto; */
}
#landing > h2 {
  margin-right: 500px;
  color: white;
  margin-top: 20px;
}
#landing > button {
  margin-right: 500px;
  margin-top: 20px;
  padding: 4px;
  /* width: 200px; */
  font-size: 20px;
  font-weight: bold;
  border: none;
}
#landing > button:hover {
  color: white;
  background-color: black;
}

/* Second Toggel */

.toggel {
  margin-top: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.toggel > .tag {
  width: 500px;
  padding: 30px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}
.toggel > .tag > a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.toggel > .tag > a:hover {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

/* Product type */

.carousel {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.carousel-cell:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  text-decoration: underline;
}
.carousel-cell {
  margin-right: 10px;
  border-radius: 9px;
  text-decoration: none;
}
.carousel-cell > a > p {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(54, 53, 53);
}
.carousel-cell > a > img {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
.carousel-cell > a {
  text-decoration: none;
}
.carousel-cell:first-child {
  background-color: rgb(230, 245, 230);
}
.carousel-cell:nth-child(2) {
  background-color: rgb(245, 234, 255);
}
.carousel-cell:nth-child(3) {
  background-color: rgb(247, 247, 228);
}
.carousel-cell:nth-child(4) {
  background-color: rgb(253, 253, 194);
}
.carousel-cell:nth-child(5) {
  background-color: rgb(218, 245, 255);
}
.carousel-cell:nth-child(6) {
  background-color: rgb(226, 188, 188);
}
#container {
  width: 90%;
  margin-bottom: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#container > .card > a {
  text-decoration: none;
}

/* Festival */

#festival {
  margin-top: 20px;
  width: 90%;
  background-image: url(https://media.crocs.com/images/f_auto,q_auto,dpr_auto/marketing/Upsell_Desktop_1280x500_Hiker1/Crocs);
  background-position: center;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
#festival:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#festival h2 {
  padding-left: 20px;
}
#festival p {
  padding-bottom: 40px;
  padding-left: 20px;
  text-decoration: underline;
}

/* Third Toggel */
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 40%;
}
.carousel1 {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.carousel-cell1:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  text-decoration: underline;
}
.carousel-cell1 {
  width: 15%;
  margin-right: 10px;
  border-radius: 9px;
  text-decoration: none;
}
.carousel-cell1 > a > p {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(54, 53, 53);
}
.carousel-cell1 > a > img {
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
.carousel-cell1 > a {
  text-decoration: none;
}
.carousel-cell1:first-child {
  background-color: rgb(230, 245, 230);
}
.carousel-cell1:nth-child(2) {
  background-color: rgb(245, 234, 255);
}
.carousel-cell1:nth-child(3) {
  background-color: rgb(247, 247, 228);
}
.carousel-cell1:nth-child(4) {
  background-color: rgb(253, 253, 194);
}
.carousel-cell1:nth-child(5) {
  background-color: rgb(218, 245, 255);
}
.carousel-cell1:nth-child(6) {
  background-color: rgb(226, 188, 188);
}

/* Wheather */

#wheather {
  margin-top: 20px;
  width: 90%;
  background-image: url(https://media.crocs.com/images/f_auto,q_auto,dpr_auto/marketing/Rainboots_Upsell_Desktop_1280x500/Crocs);
  background-position: center;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
#wheather:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#wheather h2 {
  padding-left: 20px;
}
#wheather p {
  padding-bottom: 40px;
  padding-left: 20px;
  text-decoration: underline;
}

/* Discount */

#discount {
  margin-top: 20px;
  width: 90%;
  background-image: url(https://media.crocs.com/images/f_auto,q_auto/marketing/au-nov-jibb-upsell2-full/Crocs);
  background-position: center;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
#discount:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#discount h2 {
  padding-left: 20px;
}
#discount p {
  padding-bottom: 40px;
  padding-left: 20px;
  text-decoration: underline;
}

/* Shipping Detail */

#content {
  width: 100%;
  margin-top: 20px;
  border-top: 2px solid rgb(53, 156, 204);
}
#ship {
  /* border-top: 1px solid rgb(0, 174, 255); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  margin: auto;
  gap: 10px;
  margin-top: 50px;
}
#ship > .info > a {
  width: 100%;
  display: grid;
  text-decoration: none;
  color: rgb(59, 153, 197);
  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid red; */
}
#ship > .info > a > img {
  width: 40%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
#ship > .info > a > h2 {
  font-size: 17px;
  /* text-decoration: none; */
}
#ship > .info > a > p {
  font-size: 13px;
}

/* Footer */

#footer {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding-bottom: 50px;
}
#Ftop {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#Ftop > .store {
  width: 100px;
}
#Ftop > a > .signin {
  width: 200px;
  padding: 10px;
  font-weight: bold;
}
#Ftop > button > img {
  width: 100%;
}
#location {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
}
.point {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.point > a {
  text-decoration: none;
  color: white;
}
#information {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  /* border-bottom: 2px solid white; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* margin-bottom: 30px; */
}
.col1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col1 > a {
  text-decoration: none;
  color: white;
}
.col2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col2 > a {
  text-decoration: none;
  color: white;
}
.col3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col3 > a {
  text-decoration: none;
  color: white;
}
.col4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 10px; */
}
.col4 > h2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Large Screen */

/* Median Screen */
@media only screen and (max-width: 768px) {
  #nav > .logo {
    display: none;
  }
  #nav {
    justify-content: space-between;
  }
  #landing {
    text-align: center;
    align-items: center;
  }
}

/* Small Screen */
@media only screen and (max-width: 450px) {
  #inp {
    display: none;
  }
  #search {
    display: block;
  }
}
