/* Product type */
.carousel2 {
  padding: 15px;
}
.carousel-cell2 {
  width: 14%;
  margin-right: 10px;
  border-radius: 10px;
}
.carousel-cell2:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  text-decoration: underline;
}
.carousel-cell2 > a > p {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(54, 53, 53);
}
.carousel-cell2 > a > img {
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
.carousel-cell2 > a {
  text-decoration: none;
}
.carousel-cell2:first-child {
  background-color: rgb(230, 245, 230);
}
.carousel-cell2:nth-child(2) {
  background-color: rgb(245, 234, 255);
}
.carousel-cell2:nth-child(3) {
  background-color: rgb(247, 247, 228);
}
.carousel-cell2:nth-child(4) {
  background-color: rgb(253, 253, 194);
}
.carousel-cell2:nth-child(5) {
  background-color: rgb(218, 245, 255);
}
.carousel-cell2:nth-child(6) {
  background-color: rgb(226, 188, 188);
}

/* Product */

#product {
  display: flex;
  margin-top: 50px;
  /* border: 1px solid red; */
}
#product > #filter {
  width: 25%;
  margin: 10px;
  /* border: 1px solid rebeccapurple; */
}
#product > #filter > #filterSort {
  display: flex;

  /* border: 1px solid red; */
  width: 70%;
}
#product > #filter > #filterSort > img {
  width: 10%;
  margin-bottom: 10px;
}
#product > #filter > #filterSort > h2 {
  font-size: 20px;
  margin-left: 8px;
}
#product > #filter > #type {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
}
#product > #filter > #filterImg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#filterImg > button {
  display: flex;
  padding: 10px;
  border: 1px solid lightgray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#filterImg > button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: underline;
  cursor: pointer;
}
#filterImg > button > img {
  width: 30%;
}
#product > #allproduct {
  width: 71%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-left: 20px;
}
#product > #allproduct > div {
  width: 100%;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rebeccapurple; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#product > #allproduct > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
#product > #allproduct > div > img {
  width: 80%;
  /* border: 1px solid red; */
  margin-bottom: 25px;
}
#product > #allproduct > div > p {
  font-size: 12px;
  margin-bottom: 25px;
  color: black;
}
#product > #allproduct > div > h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(68, 68, 68);
}
#product > #allproduct > div > button {
  margin-bottom: 30px;
  width: 100px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  /* font-weight: bold; */
}
#product > #allproduct > div > button:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  #product > #allproduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small Screen */
@media only screen and (max-width: 450px) {
  #product > #allproduct {
    grid-template-columns: repeat(2, 1fr);
  }
}
