/* Product type */
h2 {
  padding: 15px;
}
#Wcoll {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
#Wcoll > .card {
  width: 14%;
  border-radius: 9px;
}
#Wcoll > .card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  text-decoration: underline;
}
#Wcoll > .card > a {
  text-decoration: none;
}
#Wcoll > .card > a > img {
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}
#Wcoll > .card > a > p {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(54, 53, 53);
}

#Wcoll > .card:first-child {
  background-color: rgb(230, 245, 230);
}
#Wcoll > .card:nth-child(2) {
  background-color: rgb(245, 234, 255);
}
#Wcoll > .card:nth-child(3) {
  background-color: rgb(247, 247, 228);
}
#Wcoll > .card:nth-child(4) {
  background-color: rgb(253, 253, 194);
}
#Wcoll > .card:nth-child(5) {
  background-color: rgb(218, 245, 255);
}
#Wcoll > .card:nth-child(6) {
  background-color: rgb(226, 188, 188);
}
